.side_button{
    -fx-background-radius : 20px;
    -fx-padding : 16px;
    -fx-background-color : #5Fb9f1;
}
.side_button:hover{
    -fx-background-color : #93d6ff;
}
.side_button:selected{
    -fx-background-color : #b9e4ff;
}
.item_card{
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 24px;
    -fx-border-width : 2px;
    -fx-border-color : #5Fb9f1;
    -fx-border-radius : 24px;
    -fx-effect : dropShadow(three-pass-box,rgba(0,0,0,0.1),10,0,5,7);
}
.circle_button{
    -fx-background-radius : 16px;
    -fx-background-color : #5Fb9f1;
}
.circle_button:pressed{
    -fx-background-color : #93d6ff;
}
.center{
    -fx-padding : 10px;
}
.order_button{
    -fx-background-radius : 20px;
    -fx-padding : 16px;
    -fx-background-color : #5Fb9f1;
}
.order_button:hover{
    -fx-background-color : #7eceff;
}
.order_button:pressed{
    -fx-background-color : #9ed5f7;
}
.scroll_pane{
    -fx-background: transparent; 
    -fx-background-color: transparent;
    /* -fx-control-inner-background: transparent; */
}